@import '~node_modules/modern-normalize/modern-normalize.css';
.is-hidden {
  position: absolute;
  width: 8px;
  height: 9px;
  margin: 9px;
  border: 0;
  padding: 0;
  white-space: normal;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
